@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    @{
        // grab the NameIdentifier claim (this is usually the user's primary key)
        var userId = @context.User
        .FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)
        ?.Value;
    }
    Hello @context.User.Identity?.Name! @userId


</AuthorizeView>
